---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Welcome from '../components/Welcome.astro';
---

<Layout>
  <Header />
  <Welcome>
    <!-- <h2 class="font-sans font-light text-base mx-auto leading-relaxed">
      Capturing the everyday charm of Poynton — misty mornings, seasonal shifts,
      and the little details you’d normally walk straight past.
    </h2> -->
  </Welcome>
</Layout>
