---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import { Image } from 'astro:assets';
import myImage from '../assets/photo/poynton-road-in-spring.jpg';
---

<Layout>
  <Header />
  <Main>
    <div class="py-30 grid auto-cols-auto grid-flow-col col-gap-4xl">
      <h2
        class="font-serif font-light text-2xl leading-relaxed place-content-end text-pretty w-1/2"
      >
        Misty mornings, seasonal shifts, and the little details you’d normally
        walk straight past.
      </h2>

      <Image
        src={myImage}
        alt="A description of my image."
        width={480}
        height={900}
        class="mx-auto rounded-sm"
        priority
        format="avif"
      />
    </div>
  </Main>
</Layout>
