<header class="py-4">
  <h1>
    <span class="font-sans font-bold text-md">onPoynt</span>
    <span class="text-xs text-stone-500">&bull;</span>
    <span class="font-sans text-sm text-stone-400">
      capturing the everyday charm of Poynton
    </span>
  </h1>
</header>
