<header class="py-4 flex items-center">
  <h1>
    <span class="font-bold text-md">onPoynt</span>
    <span class="text-xs text-stone-500">&bull;</span>
    <span class="text-sm text-stone-400">
      capturing the everyday of Poynton
    </span>
  </h1>

  <button
    id="add-class-btn"
    class="text-md ml-auto rounded-full size-6 inset-shadow-[0_0_0_6px] transition-shadow duration-300 ease-in-out hover:inset-shadow-[0_0_0_12px]"
    >&nbsp;</button
  >
</header>

<script>
  document.getElementById('add-class-btn')?.addEventListener('click', () => {
    document.body.classList.toggle('my-custom-class');
  });
</script>
